body,html{
    /* background-color: rgb(20, 23, 23); */
    height: 1600px;
    display: block;
    margin: 0;}

.bg1{
    color: black;
    background-position: center;
    background: rgb(163, 241, 218);
    display: block;
    text-decoration: black;
    padding-top: 70;
    padding-left: 320;
    padding-right: 320;
    font-family:'Georgia';
    font-size: 20;
}

div {
    width: 270px;
    height: 220px;
    margin: 5;
    position: sticky;
    border: 1px solid rgb(49, 60, 78);
    background: rgb(10, 41, 34), 50%;
    opacity: 1.0;
    background-size: 100%;
    line-height: 1.3;
    float:inline-end;
    overflow: auto;
    font-family:'Georgia';
    font-size: 20;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0.2;
    transform: translateX(-100%);
    transition: all 1.6s;
}

.show {
    opacity: 1;
    transform: translateX(0)
}

.pstyle{
    height: 50%;
    margin: 0;
}











